.flex-div img{
    width: 25px;
    height: 20px;
    padding-right: 10px;
}
#blankimage{
    visibility: hidden;    
}

/*--------section-6---------*/

.section-6{
    padding: 10px 80px 20px 80px;
}
#flex-div{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 20px;
    font-size: 13px;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
    box-shadow: 0 2px rgb(168, 169, 169);
    padding: 20px 20px 20px 20px;      
}
.flex-div p{
    display:inline;
    text-align: left;    
}

/*--------Footer section--------*/

.maincontainer-flex{
    background-color: aqua;
    padding: 10px 80px 20px 80px;
}
.container{
    background-color: burlywood;
}

.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
#flink{
    text-decoration: none;
}
.main-nav{
    justify-content: space-between;
}
.label{
    justify-content: end;
}

.nav-links ul{
    gap: 40px;
}
